.background    { background: rgb(204, 167, 48);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.tar          { background-image: url(../img/tar.png); }
.wall          { background-image: url(../img/grass.png); }
.hill	{background: rgb(139,69,19); }

.actor  { position: absolute;  }
.player { background-image: url(../img/player.png); }

.coin { background-image: url(../img/bone.png); }

.enemy { background-image: url(../img/dino.png); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
