.background    { background: rgb(204, 167, 48);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.tar          { background: black; }
.wall          { background: rgb(0,96,27);   }
.hill	{background: rgb(139,69,19); }
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
